<a href="https://colab.research.google.com/github/PAVANSUGREEV/Pyhtonnew/blob/Module2/Module_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Create a function which accepts two inputs from the user and compute nCr

In [ ]:
def ncr(x,y):
  a=x-y
  if a==0:
    print("undifined")
  else:
    return (fact(x) / (fact(y)* fact(x - y)))
def fact(x):
 
    res = 1
     
    for i in range(2, x+1):
        res = res * i
    return res  
      
x=int(input())
y=int(input())
print(int(ncr(x,y)))

10
6
210

Recursive function to compute GCD of 2 numbers

In [ ]:
def GCD(x,y):
    r=x%y
    if(r==0):
        return y
    else:
        return GCD(y,r)
a= int(input())
b= int(input())
print("The GCD of two numbers is:", GCD(a,b))

24
56
The GCD of two numbers is: 8

Recursive function to find product of two numbers

In [ ]:
def product( x , y ):
    if x < y:
        return product(y, x)
    elif y!= 0:
        return (x + product(x, y - 1))
    else:
        return 0
x =int(input())
y = int(input())
print(product(x, y))

20
6
120

Recursive function to generate Fibonacci series

In [ ]:
def recurfibo(n):  
   if n <= 1:  
       return n  
   else:  
       return(recurfibo(n-1) + recurfibo(n-2))  
nterms=int(input())
if nterms<= 0:  
   print("Enter Positive number")  
else:  
   print("Fibonacci's are")  
   for i in range(nterms):  
       print(recurfibo(i))

20
Fibonacci's are
0
1
1
2
3
5
8
13
21
34
55
89
144
233
377
610
987
1597
2584
4181

Program to print a specified list after removing the 0th, 4th and 5th elements.
Sample List : ['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']
Expected Output : ['Green', 'White', 'Black']

In [ ]:
samplelist= ['Red','Green','White','Black','Pink','Yellow']
samplelist.pop(0)
samplelist.pop()
samplelist.pop()
print(samplelist)

['Green', 'White', 'Black']

Program to get the difference between the two lists

In [ ]:
def Diff(li1, li2):
    lidif = [i for i in li1 + li2 if i not in li1 or i not in li2]
    return lidif

li1 = [10, 15, 20, 25, 30, 35, 40]
li2 = [25, 40, 35]
li3 = Diff(li1, li2)
print(li3)

[10, 15, 20, 30]

Program to find the second smallest number and second largest number in a list.

In [ ]:
def findlen(list1):
	length = len(list1)
	list1.sort()
	print("Largest element is:", list1[length-1])
	print("Smallest element is:", list1[0])
	print("Second Largest element is:", list1[length-2])
	print("Second Smallest element is:", list1[1])
list1=[12, 45, 2, 41, 31, 10, 8, 6, 4]
Largest = findlen(list1)

Largest element is: 45
Smallest element is: 2
Second Largest element is: 41
Second Smallest element is: 4

Given a list of numbers of list, write a Python program to create a list of tuples
having first element as the number and second element as the square of the
number

In [ ]:
list = [23, 42, 67, 89, 11, 32,44]
print("The list is ")
print(list)
print("The required tuple is :")
res = [(x, pow(x, 2)) for x in list]
print(res)

The list is
[23, 42, 67, 89, 11, 32, 44]
The required tuple is :
[(23, 529), (42, 1764), (67, 4489), (89, 7921), (11, 121), (32, 1024), (44, 1936)]

Given list of tuples, remove all the tuples with length K.                                           
Input : testlist = [(4, 5), (4, ), (8, 6, 7), (1, ), (3, 4, 6, 7)], K = 2                      
Output : [(4, ), (8, 6, 7), (1, ), (3, 4, 6, 7)]                                 
Explanation : (4, 5) of len = 2 is removed.

In [ ]:
testlist = [(4, 5), (4, ), (8, 6, 7), (1, ), (3, 4, 6, 7)]
print("The original list : " + str(testlist))
K = 1
# filter just lengths other than K 
# len() used to compute length
res = [x for x in testlist if len(x) != K]
print("Filtered list : " + str(res))

The original list : [(4, 5), (4,), (8, 6, 7), (1,), (3, 4, 6, 7)]
Filtered list : [(4, 5), (8, 6, 7), (3, 4, 6, 7)]

Program to generate and print a dictionary that contains a number (between 1
and n) in the form (x, x*x).

Sample Input: (n=5) 

Expected Output : {1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [ ]:
n=int(input("Input a number "))
d = dict()
for x in range(1,n+1):
    d[x]=x*x
print(d)

Input a number 5
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

Program to remove a key from a dictionary

In [ ]:
dicti={"a":12,"b":43,"c":56}
print(dicti)
if "c" in dicti:
  del dicti["c"]
print(dicti)

{'a': 12, 'b': 43, 'c': 56}
{'a': 12, 'b': 43}

Program to get the maximum and minimum value in a dictionary.

In [ ]:
mydict = {'x':500, 'y':5874, 'z': 560}
keymax = max(mydict.keys(),key=(lambda k: mydict[k]))
keymin = min(mydict.keys(),key=(lambda k: mydict[k]))
print('Maximum Value: ',mydict[keymax])
print('Minimum Value: ',mydict[keymin])

Maximum Value:  5874
Minimum Value:  500

Program for Counting occurrence of a certain element in a string, getting indexes that
have matching elements.For ex -.In Rabbit count how many times b has occurred .
Example-I have to go to a doctor and get myself checked. Count the number of
occXrrences of "to

In [ ]:
x="I have to go to a doctor and get myself checked"
y=x.count("to")
print(y)

3

Program for replacing one substring by another For example - Rabbit - Replace bb to cc

In [ ]:
s="Rabbit"
x=s.replace('bb','cc')
print(x)

Raccit

Program to Acronym generator for any user input (ex-input is Random memory access
then output should be RMA).Example - Random number (RN)

In [ ]:
userinput =input("Enter a phrase: ")
phrase =(userinput.replace('of','')).split()
acronym =""
for word in phrase:
    acronym = acronym + word[0].upper()
    print(f'Acronym of {userinput} is {acronym}')

Enter a phrase: Random memory access
Acronym of Random memory access is R
Acronym of Random memory access is RM
Acronym of Random memory access is RMA

Python function that accepts a string and calculates the number of uppercase
letters and lowercase letters.

In [ ]:
def test(s):
    u={"UPPERCASE":0, "LOWERCASE":0}
    for x in s:
        if x.isupper():
           u["UPPERCASE"]+=1
        elif x.islower():
           u["LOWERCASE"]+=1
        else:
           pass
    print ("Given string :", s)
    print ("No. of Uppercase characters : ", u["UPPERCASE"])
    print ("No. of Lowercase Characters : ", u["LOWERCASE"])
test(input())

PAVNAMSiusfiujsKOrfgGBDFS
Given string : PAVNAMSiusfiujsKOrfgGBDFS
No. of Uppercase characters :  14
No. of Lowercase Characters :  11

Program to count the number of strings where the string length is 2 or more and
the first and last character are same from a given list of strings

In [ ]:
def words(words):
  x = 0
  for word in words:
    if len(word) > 1 and word[0] == word[-1]:
      x += 1
  return x
print(words(['abc', 'xyz', 'aba', '1221',"carsc","Keysjdaslk","Meme"]))

3