<a href="https://colab.research.google.com/github/PAVANSUGREEV/Pyhtonnew/blob/Module1/Module_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Accept input from user and store it in variable and print the value.

In [ ]:
x=int(input())
print(x)

5
5

Take 2 numbers as user input and add, multiply, divide, subtract, remainder and print
the output (Same operations on floating point input as well)

In [ ]:
x=int(input())
y=float(input())
print("Add",x+y)
print("Subtract",x-y)
print("Multi",x*y)
print("Divide",x/y)

25
36
Add 61.0
Subtract -11.0
Multi 900.0
Divide 0.6944444444444444

Conversion of one unit to another (such as hours to minutes, miles to km and etc)

In [ ]:
x=float(input())

print(x*60)  #hours to minutes
print(x*1.60934)   #Miles to KM

20.2558
1215.348
32.598469172

Usage of mathematical functions in python like math.ceil, floor, fabs, fmod, trunc,
pow, sqrt etc.

In [ ]:
import math

x=-2.365
print(math.ceil(x))
y=2.3698
print(math.floor(y))
z=2.516
print(math.fabs(z))  
a=-5.693
print(math.copysign(a,z))

-2
2
2.516
5.693

Building a mathematical calculator that can perform operations according to user input. Use decision making statement.

In [ ]:
def add(x, y):
    return x + y
def subtract(x, y):
    return x - y
def multiply(x, y):
    return x * y
def divide(x, y):
    return x / y
print("Select operation.")
print("1.Add")
print("2.Subtract")
print("3.Multiply")
print("4.Divide")
while True:
    choice = input("Enter choice(1/2/3/4): ")
    if choice in ('1', '2', '3', '4'):
        num1 = float(input("Enter first number: "))
        num2 = float(input("Enter second number: "))
        if choice == '1':
            print(num1, "+", num2, "=", add(num1, num2))
        elif choice == '2':
            print(num1, "-", num2, "=", subtract(num1, num2))
        elif choice == '3':
            print(num1, "*", num2, "=", multiply(num1, num2))
        elif choice == '4':
            print(num1, "/", num2, "=", divide(num1, num2))
        nextcalculation = input("Let's do next calculation? (yes/no): ")
        if nextcalculation == "no":
          break
    else:
        print("Invalid Input")

Select operation.
1.Add
2.Subtract
3.Multiply
4.Divide
Enter choice(1/2/3/4): 2
Enter first number: 32
Enter second number: 23
32.0 - 23.0 = 9.0
Let's do next calculation? (yes/no): no

Accepting 5 different subject marks from user and displaying the grade of the student.

In [ ]:
a=int(input())
b=int(input())
c=int(input())
d=int(input())
e=int(input())
total=a+b+c+d+e;
if total>=90:
  print("10 points")
elif total>80 and total<90:
  print("9 points")
elif total>70 and total<60:
  print("8 points")
else:
  print("Better luck next time")

19
19
19
19
19
10 points

Printing all even numbers, odd numbers, count of even numbers, count of odd numbers
within a given range

In [ ]:
even,odd=0,0
for i in range(1,200):
 if i%2 == 0:
   print("Even",i)
   even+=1

 elif i%2!=0:
   print("odd",i)
   odd+=1
   
print("Count of Odd:",odd)
print("Count of Even :",even)

odd 1
Even 2
odd 3
Even 4
odd 5
Even 6
odd 7
Even 8
odd 9
Even 10
odd 11
Even 12
odd 13
Even 14
odd 15
Even 16
odd 17
Even 18
odd 19
Even 20
odd 21
Even 22
odd 23
Even 24
odd 25
Even 26
odd 27
Even 28
odd 29
Even 30
odd 31
Even 32
odd 33
Even 34
odd 35
Even 36
odd 37
Even 38
odd 39
Even 40
odd 41
Even 42
odd 43
Even 44
odd 45
Even 46
odd 47
Even 48
odd 49
Even 50
odd 51
Even 52
odd 53
Even 54
odd 55
Even 56
odd 57
Even 58
odd 59
Even 60
odd 61
Even 62
odd 63
Even 64
odd 65
Even 66
odd 67
Even 68
odd 69
Even 70
odd 71
Even 72
odd 73
Even 74
odd 75
Even 76
odd 77
Even 78
odd 79
Even 80
odd 81
Even 82
odd 83
Even 84
odd 85
Even 86
odd 87
Even 88
odd 89
Even 90
odd 91
Even 92
odd 93
Even 94
odd 95
Even 96
odd 97
Even 98
odd 99
Even 100
odd 101
Even 102
odd 103
Even 104
odd 105
Even 106
odd 107
Even 108
odd 109
Even 110
odd 111
Even 112
odd 113
Even 114
odd 115
Even 116
odd 117
Even 118
odd 119
Even 120
odd 121
Even 122
odd 123
Even 124
odd 125
Even 126
odd 127
Even 128
odd 129
Even 130
odd 131
Even 132
odd 133
Even 134
odd 135
Even 136
odd 137
Even 138
odd 139
Even 140
odd 141
Even 142
odd 143
Even 144
odd 145
Even 146
odd 147
Even 148
odd 149
Even 150
odd 151
Even 152
odd 153
Even 154
odd 155
Even 156
odd 157
Even 158
odd 159
Even 160
odd 161
Even 162
odd 163
Even 164
odd 165
Even 166
odd 167
Even 168
odd 169
Even 170
odd 171
Even 172
odd 173
Even 174
odd 175
Even 176
odd 177
Even 178
odd 179
Even 180
odd 181
Even 182
odd 183
Even 184
odd 185
Even 186
odd 187
Even 188
odd 189
Even 190
odd 191
Even 192
odd 193
Even 194
odd 195
Even 196
odd 197
Even 198
odd 199
Count of Odd: 100
Count of Even : 99

Compute the factorial of a given number. b) Compute GCD of two given
numbers. c) Generate Fibonacci series up to N numbers

In [ ]:
#Factorial of a Number
num =int(input())
factorial = 1
for i in range(1,num + 1):
 factorial = factorial*i
print("The factorial of",num,"is",factorial)

#Compute GCD of two given number
def gcdfun (x, y):  
    if (y == 0): 
        return x  
    else:  
        return gcdfun (y, x % y)  
x =int (input ())    
y =int (input ())  
num = gcdfun(x, y) 
print("GCD of two number is: ")  
print(num)

# Generate Fibonacci series up to N numbers

52
The factorial of 52 is 80658175170943878571660636856403766975289505440883277824000000000000
325
256
GCD of two number is:
1

Check whether the given input is a) palindrome b) strong c) perfect

In [ ]:
n=int(input())
temp=n
rev=0
while(n>0):
    dig=n%10
    rev=rev*10+dig
    n=n//10
if(temp==rev):
    print("The number is a palindrome")
else:
    print("The number isn't a palindrome!")

#strong number
sum1=0
temp=n
while(n):
    i=1
    f=1
    r=n%10
    while(i<=r):
        f=f*i
        i=i+1
    sum1=sum1+f
    n=n//10
if(sum1==temp):
    print("The number is a strong number")
else:
    print("The number is not a strong number!")

#perfect number
sum1 = 0
for i in range(1, n):
    if(n % i == 0):
        sum1 = sum1 + i
if (sum1 == n):
    print("The number is a Perfect number")
else:
    print("The number is not a Perfect number!")

415236987
The number isn't a palindrome!
The number is a strong number
The number is a Perfect number

Compute compound interest using loop for a certain principal and interest amount

In [ ]:
p = float(input("Enter the principal amount : "))
t = float(input("Enter the number of years : "))
r = float(input("Enter the rate of interest : "))
ci =  p * (pow((1 + r / 100), t))
print("Compound interest : {}".format(ci))

Enter the principal amount : 2536900
Enter the number of years : 10
Enter the rate of interest : 18
Compound interest : 13277717.41643158