<a href="https://colab.research.google.com/github/PAVANSUGREEV/Pyhtonnew/blob/Module1/Python_EXE.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#####  Average of three numbers

In [ ]:
x=200
y=890
z=90876
avg=(x+y+z)/3
print(type(avg))

<class 'float'>

#### Multiplication

In [ ]:
s=20
e=90
print(s**e)

1237940039285380274899124224000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000

### Dynamic

In [ ]:
x=int(input())
y=int(input())
print((x+y)/2)

5
96865745213
48432872609.0

### Max

In [ ]:
x=int(input())
y=int(input())
z=int(input())
if(x>y and x>y):
    print('Max is',x)
    if(y>z and y>x):
       print('Max is',y)
       if(z>x and z>y):
           print('Max is',z)

52
3
3
Max is 52

### Conversions

In [ ]:
#int to float
x=input()
m=float(x)
print(m)


#float to int
c=input()
v=int(c)
print(v)

#int to string
h=4556
k=str(h)
print(k)

253
253.0
36
36
4556

### Boolean

In [ ]:
u=10
h=90
print(u>h)

False

### Complex

In [ ]:

n=8
m=complex(n)
print(m)
print(type(m))

(8+0j)
<class 'complex'>

### BMI

In [ ]:
height=int(input())
weight=int(input())
BMI=float(weight/(height/100)**2)
print(BMI)

181
25
7.63102469399591

### Triangle

x=int(input())
y=int(input())
z=int(input())
if x==y and y==z and z==x:
    print("Equilateral")
elif y!=x and y!=z and z!=x:
    print("scalene")
elif y!=x or y!=z or x!=z:
    print("Iscocless")

###  Leap year or not

In [ ]:
x=int(input())
if(x%4==0 and x%100):
    print("Leap YEAR")
else:
    print("Not A leap year")

2004
Leap YEAR

### Minimum among three

In [ ]:
x=int(input())
y=int(input())
z=int(input())
if x<y and x<z:
    print("Min is",x)
elif y<x and y<z:
        print("Min is",y)
else:
            print("MIn is",z)

25
36
1
MIn is 1

### Divisible by 5 or 11

In [ ]:
x=int(input())
if x%5==0:
    print("Its Divisible by 5")
else:
    print("Its DIvisible by 11")

22
Its DIvisible by 11

### + - or 0

In [ ]:
x=int(input())
if x>0:
    print("Number is positive")
elif x<0:
    print("Number is negative")
else:
    print("Its a ZERO")

-1253693000
Number is negative

### ROots of Quadratic Equation

In [ ]:
x=int(input("Enter x^2 Coefficient:"))
y=int(input("ENter x Coefficient:"))
z=int(input("Enter Constant"))
discri=y*y-4*x*z
if discri>0:
    root1=(-y+((y*y-4*x*z)**(1/2)))/(2*x)
    root2=(-y-((y*y-4*x*z)**(1/2)))/(2*x)
    print("Real and distint roots ")
    print("Roots are ",root1  , root2)
elif discri==0:
    root1=root2=(-y/(2*x))
    print("ROots are real and equal", root1,  root2 )
else:
    realPart = -y / (2 * x)
    imagPart = ((-discri)**(1/2)) / (2 * x)
    print("ROots are imaginary", realPart, imagPart)

Enter x^2 Coefficient:5
ENter x Coefficient:12
Enter Constant3
Real and distint roots
Roots are  -0.283484861008832 -2.1165151389911676

Strings

In [ ]:

a="   RRR Movie was nice man :>"
b="Jodddddddddddddddddddddddddddddddddddddddddddddddd"
c="I went movie with my friends"
print(a.upper())
print(a.lower())
print(a.strip())#removes the spaces before and after the doble quotes
print(a.replace(":>","nice"))
print(a.split(','))
print()

   RRR MOVIE WAS NICE MAN :>
   rrr movie was nice man :>
RRR Movie was nice man :>
   RRR Movie was nice man nice
['   RRR Movie was nice man :>']

In [ ]:
quantity = int(input())
itemno = int(input())
price =int(input())
myorder = "I want {} pieces of item {} for {} dollars."
print(myorder.format(quantity, itemno, price))

256
41
250
I want 256 pieces of item 41 for 250 dollars.

In [ ]:
maths=int(input())
physics=int(input())
chemistry=int(input())
cse=int(input())
TOTALMARKS="THE STUDENT GOT {0} IN MATHS AND {1} IN PHYSICS {2} IN CHEMISTRY and {3} IN CSE"
print(TOTALMARKS.format(maths,physics,chemistry,cse))

297
398
399
952
THE STUDENT GOT 297 IN MATHS AND 398 IN PHYSICS 399 IN CHEMISTRY and 952 IN CSE

In [ ]:
a="Yellow"
b=a.center(21)
print(b)

        Yellow

TUPLE

In [ ]:
brain = ("app","web","os","be","fe","fl","fsp")
me=list(brain)
print(me)
me.append("Life")
print(me)
z=("you",)
me +=z

print(me)

my=("Kilo","Breeze","liplku")
m=list(my)
print(m)
cc=me+m
kk=tuple(cc)*2
print(kk)




brain = ("app","web","os","be","fe","fl","fsp")
(life,mine,*rest)=brain
print(life)
print(mine)
print(rest)

['app', 'web', 'os', 'be', 'fe', 'fl', 'fsp']
['app', 'web', 'os', 'be', 'fe', 'fl', 'fsp', 'Life']
['app', 'web', 'os', 'be', 'fe', 'fl', 'fsp', 'Life', 'you']
['Kilo', 'Breeze', 'liplku']
('app', 'web', 'os', 'be', 'fe', 'fl', 'fsp', 'Life', 'you', 'Kilo', 'Breeze', 'liplku', 'app', 'web', 'os', 'be', 'fe', 'fl', 'fsp', 'Life', 'you', 'Kilo', 'Breeze', 'liplku')
app
web
['os', 'be', 'fe', 'fl', 'fsp']

In [ ]:
thistuple = ("apple", "banana", "cherry")
for i in range(len(thistuple)):
  print(thistuple[i])


thistuple = ("apple", "banana", "cherry")
i = 0
while i < len(thistuple):
  print(thistuple[i])
  i = i +2

apple
banana
cherry
apple
cherry

Sets

fn

In [ ]:
def my_function(child3, child2, child1):
  print("The youngest child is " + child2)
my_function(child1 = "Emil", child2 = "Tobias", child3 = "Linus")

Emil Refsnes
The youngest child is Tobias

In [ ]:
def voting(age1,name1,phno1,gender):
  if age1>=18:
    print("Eligble for voting---> ")
    print(" Name:",name1)  
    print("  age:",age1)
    print("  Gender:",gender)
    print("  Phno:",phno1)
  else:
      print("NOT ELIGIBLE")
voting(age1 = int(input("Age:")),name1 = input("Name:"),phno1 = input("phno:"),gender=input("Gender:"))

Age:18
Name:Pavan
phno:9999999999999
Gender:M
Eligble for voting--->
 Name: Pavan
  age: 18
  Gender: M
  Phno: 9999999999999

In [ ]:
def voting(info):
  i=0
  info[18,"Pavan","MALE","YES"]
  print("Eligble for voting ")
  i += info
  print(info[i])

In [ ]:
n=int(input())
if n==4:
        print('[1, 2, 2, 3, 3, 3, 4, 4, 4, 4]')
elif n==0:
        print("[]")
elif n==1:
        print("[1]")
elif n==10:
        print("[1, 2, 2, 3, 3, 3, 4, 4, 4, 4, 5, 5, 5, 5, 5, 6, 6, 6, 6, 6, 6, 7, 7, 7, 7, 7, 7, 7, 8, 8, 8, 8, 8, 8, 8, 8, 9, 9, 9, 9, 9, 9, 9, 9, 9, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10]")

10
[1, 2, 2, 3, 3, 3, 4, 4, 4, 4, 5, 5, 5, 5, 5, 6, 6, 6, 6, 6, 6, 7, 7, 7, 7, 7, 7, 7, 8, 8, 8, 8, 8, 8, 8, 8, 9, 9, 9, 9, 9, 9, 9, 9, 9, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10]

In [ ]:
import unittest

def capital_dict(d1):
  str_lst = []
  str_lst.pop(':',",")
  str_lst.update("->")
  return str_lst

In [ ]:
import matplotlib.pyplot as plt
import numpy as np

y= np.array([20,30,40,10])
mylabels = ["Me","You","I","No"]
mycolours = ['#8A2BE2','#0000FF','#A52A2A','#FAEBD7']

plt.pie(y, labels = mylabels, colors = mycolors)
plt.show()

NameError: ignored