<a href="https://colab.research.google.com/github/PAVANSUGREEV/Pyhtonnew/blob/Module-5/REGEx.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Search

In [ ]:
import re
txt=("I am intreseted in nothing and had nothing to do mush as i am intrested in nothing")
x=re.search("intrested in nothing",txt)
if x:
  print("Found!")
else:
  print("NotFound!")

Found!

Searching

In [ ]:
import re
txt=("I am intreseted in nothing and had nothing to do mush as i am intrested in nothingThe list contains the matches in the order they are found If no matches are found, an empty list is returned")
x=re.search("List",txt)
if x:
  print("Found!")
else:
  print("NotFound!")

NotFound!

Using \s is used to check firwst space

In [ ]:
import re

txt = "Theeeeeeeeeeeeeeeeeeeeeeeeeeeeee rain in Spain nd had nothing to do mush as i am intrested in nothingThe list contains the matches in the order they are found If no matches are found, an empty list is returned"
x = re.search("\s", txt)

print("The first white-space character is located in position:", x.start())

The first white-space character is located in position: 32

Using split

In [ ]:
import re

txt = "The rain in Spain"
x = re.split("\s", txt, 1,2)
print(x)

['The', 'rain in Spain']

Searching intrms of Characterstics

In [ ]:
import re

txt = "The rain in Spain eeeeee rain in Spain nd had 999 Dollarnothing to do mush as i am intrested in nothingThe list contains the matches 120545163532135465459647985231684 64568746 45357 5465in the order they are found If no matches are found, an empty list is returned"

#Find all lower case characters alphabetically between "a" and "m":

x = re.findall("[a-z]", txt)
print(x)
t = re.findall("\d", txt)
print(t)

['h', 'e', 'r', 'a', 'i', 'n', 'i', 'n', 'p', 'a', 'i', 'n', 'e', 'e', 'e', 'e', 'e', 'e', 'r', 'a', 'i', 'n', 'i', 'n', 'p', 'a', 'i', 'n', 'n', 'd', 'h', 'a', 'd', 'o', 'l', 'l', 'a', 'r', 'n', 'o', 't', 'h', 'i', 'n', 'g', 't', 'o', 'd', 'o', 'm', 'u', 's', 'h', 'a', 's', 'i', 'a', 'm', 'i', 'n', 't', 'r', 'e', 's', 't', 'e', 'd', 'i', 'n', 'n', 'o', 't', 'h', 'i', 'n', 'g', 'h', 'e', 'l', 'i', 's', 't', 'c', 'o', 'n', 't', 'a', 'i', 'n', 's', 't', 'h', 'e', 'm', 'a', 't', 'c', 'h', 'e', 's', 'i', 'n', 't', 'h', 'e', 'o', 'r', 'd', 'e', 'r', 't', 'h', 'e', 'y', 'a', 'r', 'e', 'f', 'o', 'u', 'n', 'd', 'f', 'n', 'o', 'm', 'a', 't', 'c', 'h', 'e', 's', 'a', 'r', 'e', 'f', 'o', 'u', 'n', 'd', 'a', 'n', 'e', 'm', 'p', 't', 'y', 'l', 'i', 's', 't', 'i', 's', 'r', 'e', 't', 'u', 'r', 'n', 'e', 'd']
['9', '9', '9', '1', '2', '0', '5', '4', '5', '1', '6', '3', '5', '3', '2', '1', '3', '5', '4', '6', '5', '4', '5', '9', '6', '4', '7', '9', '8', '5', '2', '3', '1', '6', '8', '4', '6', '4', '5', '6', '8', '7', '4', '6', '4', '5', '3', '5', '7', '5', '4', '6', '5']

In [ ]:
import re

txt = "The rain in Spain"
x = re.split("\s", txt)
print(x)

['The', 'rain', 'in', 'Spain']

In [ ]:
import re
txt = "hello planet"
x = re.findall("he.?o", txt)
print(x)

[]

Write a Python program that matches a string that has an a followed by zero or more b's

In [ ]:
import re
def text_match(text):
        patterns = '^a(b*)$'
        if re.search(patterns,  text):
                return 'Found a match!'
        else:
                return('Not matched!')
print(text_match("ac"))
print(text_match("abc"))
print(text_match("a"))
print(text_match("ab"))
print(text_match("abb"))

Not matched!
Not matched!
Found a match!
Found a match!
Found a match!

Write a Python program that matches a string that has an a followed by one or more b's

In [ ]:
import re
def text_match(text):
        patterns = 'ab+?'
        if re.search(patterns,  text):
                return 'Found a match!'
        else:
                return('Not matched!')

print(text_match("ab"))
print(text_match("abc"))

Found a match!
Found a match!

Write a Python program that matches a string that has an a followed by zero or one 'b'

In [ ]:
import re
def text_match(text):
        patterns = 'ab?'
        if re.search(patterns,  text):
                return 'Found a match!'
        else:
                return('Not matched!')

print(text_match("ab"))
print(text_match("abc"))
print(text_match("abbc"))
print(text_match("aabbc"))

Found a match!
Found a match!
Found a match!
Found a match!

Write a Python program that matches a string that has an a followed by three 'b'

In [ ]:
import re
def text_match(text):
        patterns = 'ab{3}?'
        if re.search(patterns,  text):
                return 'Found a match!'
        else:
                return('Not matched!')

print(text_match("abbb"))
print(text_match("aabbbbbc"))

Found a match!
Found a match!

Write a Python program to find sequences of lowercase letters joined with an underscore

In [ ]:
import re
def text_match(text):
        patterns = '^[a-z]+_[a-z]+$'
        if re.search(patterns,  text):
                return 'Found a match!'
        else:
                return('Not matched!')

print(text_match("aab_cbbbc"))
print(text_match("aab_Abbbc"))
print(text_match("Aaab_abbbc"))

Found a match!
Not matched!
Not matched!