<a href="https://colab.research.google.com/github/PAVANSUGREEV/Pyhtonnew/blob/Module2/Strings%2CLists%2CSets%2C_Dictionaries.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Strings

In [ ]:
a="   RRR Movie was nice man :>"
b="Jodddddddddddddddddddddddddddddddddddddddddddddddd"
c="I went movie with my friends"
print(a.upper())
print(a.lower())
print(a.strip())#removes the spaces before and after the doble quotes
print(a.replace(":>","nice"))
print(a.split(','))
print(a+b+c)   #Concatenation



#Format
quantity = int(input())
itemno = int(input())
price =int(input())
myorder = "I want {} pieces of item {} for {} dollars."
print(myorder.format(quantity, itemno, price))

   RRR MOVIE WAS NICE MAN :>
   rrr movie was nice man :>
RRR Movie was nice man :>
   RRR Movie was nice man nice
['   RRR Movie was nice man :>']
   RRR Movie was nice man :>JoddddddddddddddddddddddddddddddddddddddddddddddddI went movie with my friends
1500
30
25
I want 1500 pieces of item 30 for 25 dollars.

In [ ]:
maths=int(input())
physics=int(input())
chemistry=int(input())
cse=int(input())
TOTALMARKS="THE STUDENT GOT {0} IN MATHS AND {1} IN PHYSICS {2} IN CHEMISTRY and {3} IN CSE"
print(TOTALMARKS.format(maths,physics,chemistry,cse))

20
30
25
50
THE STUDENT GOT 20 IN MATHS AND 30 IN PHYSICS 25 IN CHEMISTRY and 50 IN CSE

In [ ]:
b = "PAVAN SUGREEV"
print(b[2:5])
print(b[:5])
print(b[2:])
print(b[-5:-2])

VAN
PAVAN
VAN SUGREEV
GRE

Lists

In [ ]:
fruits =["apple","orange","banana","lemon"]
print(fruits[0])
print(fruits[1])
print(fruits[2])
print(fruits[3]) 

print(len(fruits[2]))

print(fruits[1:2])

apple
orange
banana
lemon
6
['orange']

In [ ]:
fruits =["apple","orange","banana","lemon"]
fruits.append("gava")
fruits.append("strawberry")
fruits.append("mintmasala")
print(fruits)
fruits.insert(3,"mamulao")
print(fruits.count("apple"))
print(fruits)
fruits.remove("orange")
print(fruits)
fruits.reverse()
print(fruits)
fruits.sort()
print(fruits)
fruits.extend("StrawBerry")
print(fruits)

['apple', 'orange', 'banana', 'lemon', 'gava', 'strawberry', 'mintmasala']
1
['apple', 'orange', 'banana', 'mamulao', 'lemon', 'gava', 'strawberry', 'mintmasala']
['apple', 'banana', 'mamulao', 'lemon', 'gava', 'strawberry', 'mintmasala']
['mintmasala', 'strawberry', 'gava', 'lemon', 'mamulao', 'banana', 'apple']
['apple', 'banana', 'gava', 'lemon', 'mamulao', 'mintmasala', 'strawberry']
['apple', 'banana', 'gava', 'lemon', 'mamulao', 'mintmasala', 'strawberry', 'S', 't', 'r', 'a', 'w', 'B', 'e', 'r', 'r', 'y']

In [ ]:
file=[]
file.append("PAVAN")
file.append("17")
file.append("MALE")
file.append("ADDRESSS")
file.append("RESIDENT OF INDIA")



print(file)
file.remove("MALE")
print(file)
file.pop(1)
file.pop(2)
print(file)
print(type(file))
file.clear()
print(file)

['PAVAN', '17', 'MALE', 'ADDRESSS', 'RESIDENT OF INDIA']
['PAVAN', '17', 'ADDRESSS', 'RESIDENT OF INDIA']
['PAVAN', 'ADDRESSS']
<class 'list'>
[]

In [ ]:
list1 = ["Lambo","METOOto","myself"]
list2 = ["alpha","beta","ghamma"]

for x in list2:
  list1.append(x)

print(list1)

['Lambo', 'METOOto', 'myself', 'alpha', 'beta', 'ghamma']

In [ ]:
pavansugreev=["Money","Cars","Bikes","Games","Health","Friends"]

v115=[]
print(pavansugreev)
print(len(pavansugreev))   #To find length of lists
print(type(pavansugreev))

print(pavansugreev[3])   #print the 4th item of list

print(pavansugreev[-2])  #prints 2 item from last

print(pavansugreev[2:5]) #prints range of elements

print(pavansugreev[-5:-1])#prints from last 5th ithem to last item 

if "Bikes" in pavansugreev:
  print("Yes, 'Bikes' is in the pavansugreev list")

pavansugreev[1] = "CARS"
print(pavansugreev)

pavansugreev[1:3] = ["HEALTH", "A/c"]
print(pavansugreev)

pavansugreev.insert(4,"ME")
print(pavansugreev)

pavansugreev.append("95")
print(pavansugreev)

pavansugreev.remove("A/c")
print(pavansugreev)

pavansugreev.pop(6)
print(pavansugreev)

for x in pavansugreev:
  print(x)


for x in pavansugreev:
  if "e" in x:
    v115.append(x)
print(v115)

v115 = [x.upper() for x in pavansugreev]
print(v115)


v22=v115 + pavansugreev
print(v22)

['Money', 'Cars', 'Bikes', 'Games', 'Health', 'Friends']
6
<class 'list'>
Games
Health
['Bikes', 'Games', 'Health']
['Cars', 'Bikes', 'Games', 'Health']
Yes, 'Bikes' is in the pavansugreev list
['Money', 'CARS', 'Bikes', 'Games', 'Health', 'Friends']
['Money', 'HEALTH', 'A/c', 'Games', 'Health', 'Friends']
['Money', 'HEALTH', 'A/c', 'Games', 'ME', 'Health', 'Friends']
['Money', 'HEALTH', 'A/c', 'Games', 'ME', 'Health', 'Friends', '95']
['Money', 'HEALTH', 'Games', 'ME', 'Health', 'Friends', '95']
['Money', 'HEALTH', 'Games', 'ME', 'Health', 'Friends']
Money
HEALTH
Games
ME
Health
Friends
['Money', 'Games', 'Health', 'Friends']
['MONEY', 'HEALTH', 'GAMES', 'ME', 'HEALTH', 'FRIENDS']
['MONEY', 'HEALTH', 'GAMES', 'ME', 'HEALTH', 'FRIENDS', 'Money', 'HEALTH', 'Games', 'ME', 'Health', 'Friends']

Tuples

In [ ]:
brain = ("app","web","os","be","fe","fl","fsp")
me=list(brain)
print(me)
me.append("Life")
print(me)
z=("you",)
me +=z

print(me)

my=("Kilo","Breeze","liplku")
m=list(my)
print(m)
cc=me+m
kk=tuple(cc)*2
print(kk)




brain = ("app","web","os","be","fe","fl","fsp")
(life,mine,*rest)=brain
print(life)
print(mine)
print(rest)

['app', 'web', 'os', 'be', 'fe', 'fl', 'fsp']
['app', 'web', 'os', 'be', 'fe', 'fl', 'fsp', 'Life']
['app', 'web', 'os', 'be', 'fe', 'fl', 'fsp', 'Life', 'you']
['Kilo', 'Breeze', 'liplku']
('app', 'web', 'os', 'be', 'fe', 'fl', 'fsp', 'Life', 'you', 'Kilo', 'Breeze', 'liplku', 'app', 'web', 'os', 'be', 'fe', 'fl', 'fsp', 'Life', 'you', 'Kilo', 'Breeze', 'liplku')
app
web
['os', 'be', 'fe', 'fl', 'fsp']

In [ ]:
thistuple = ("apple", "banana", "cherry")
for i in range(len(thistuple)):
  print(thistuple[i])


thistuple = ("apple", "banana", "cherry")
i = 0
while i < len(thistuple):
  print(thistuple[i])
  i = i +2

apple
banana
cherry
apple
cherry

Sets

In [ ]:
me={"Pavan",17,"No worries","Mine","Chilling","APdhillon",True,"NOT me","DOne job"}
you={"No you in this","Mine","OKAY"}
print(type(me))
for i in me:
  print(i)

print("Pavan" in me) 
ok=me.union(you)
print(ok)
me.add("Sugreev")
print(me)

me.update(you)
print(me)
me.remove("Chilling")  # or use discard
print(me)
me.pop()
print(me)
i=me.intersection(you)
print(i)

<class 'set'>
No worries
True
Pavan
17
Mine
APdhillon
NOT me
DOne job
Chilling
True
{'No worries', True, 'Pavan', 17, 'Mine', 'APdhillon', 'NOT me', 'DOne job', 'OKAY', 'No you in this', 'Chilling'}
{'No worries', True, 'Pavan', 17, 'Mine', 'APdhillon', 'NOT me', 'DOne job', 'Sugreev', 'Chilling'}
{'No worries', True, 'Pavan', 17, 'Mine', 'APdhillon', 'NOT me', 'DOne job', 'OKAY', 'Sugreev', 'No you in this', 'Chilling'}
{'No worries', True, 'Pavan', 17, 'Mine', 'APdhillon', 'NOT me', 'DOne job', 'OKAY', 'Sugreev', 'No you in this'}
{True, 'Pavan', 17, 'Mine', 'APdhillon', 'NOT me', 'DOne job', 'OKAY', 'Sugreev', 'No you in this'}
{'Mine', 'No you in this', 'OKAY'}

Dictionaries

In [ ]:
mydict = {
  "brand": "BMW",
  "model": "X7",
  "year": 2023,
}
print(mydict)
print(len(mydict))
print(type(mydict))
x = mydict["model"]#Use get()  x = thisdict.get("model")
print(x)
y = mydict.keys()
print(y)
z = mydict.keys()
print(z) #before the change
mydict["color"] = "white"
print(z) #after the change
a = mydict.values()
print(a) #before the change
mydict["year"] = 2022
print(a) #after the change
mydict.update({"year": 2020})
print(mydict)
mydict.popitem()
print(mydict)
del mydict["model"]
print(mydict)
for x in mydict:
  print(mydict[x])

{'brand': 'BMW', 'model': 'X7', 'year': 2023}
3
<class 'dict'>
X7
dict_keys(['brand', 'model', 'year'])
dict_keys(['brand', 'model', 'year'])
dict_keys(['brand', 'model', 'year', 'color'])
dict_values(['BMW', 'X7', 2023, 'white'])
dict_values(['BMW', 'X7', 2022, 'white'])
{'brand': 'BMW', 'model': 'X7', 'year': 2020, 'color': 'white'}
{'brand': 'BMW', 'model': 'X7', 'year': 2020}
{'brand': 'BMW', 'year': 2020}
BMW
2020

In [ ]:
fruits = ["apple", "banana", "cherry"]
fruits[0]="kiwi"
print(fruits)

['kiwi', 'banana', 'cherry']